<div class="">
  <span class="text-lg">{{ jobInfo.ocupation }}</span>
  <span class="block">@ {{ jobInfo.company }}</span>
  <div class="text-sm whitespace-nowrap"> - nov / 2023</div>
  <div class="flex justify-end">
    <div class="w-full sm:w-300 grid grid-cols-3 gap-2">
      <div *ngFor="let technology of jobInfo.technologies" class="mb-2">
        <div class="border border-white px-2 whitespace-nowrap flex justify-center">
          {{ technology }}
        </div>
      </div>
    </div>
  </div>
</div>
