<div class="h-full flex justify-end items-end">
  <div>
    <div class="text-2xl">Contact</div>
    <div class="mt-4">
      <div class="md:flex w-full gap-x-6">
        <div class="w-full">
          <div class="whitespace-nowrap mr-3 w-full"><span>Name</span></div>
          <input class="w-full bg-transparent border border-white px-3 py-2" type="text" placeholder="enter your name">
        </div>
        <div class="w-full">
          <div class="whitespace-nowrap mr-3">Email Address</div>
          <input class="w-full bg-transparent border border-white px-3 py-2" type="text" placeholder="enter your email address">
        </div>
      </div>
      <div class="mt-2">
        <div class="w-full">
          <div class="whitespace-nowrap mr-3">Message</div>
          <textarea class="w-full bg-transparent border border-white px-3 py-2" rows="5" type="text" placeholder="Hi, I think we need a design system for our product at Company X"></textarea>
        </div>
      </div>
    </div>
    <div class="flex justify-end mt-4">
      <button class="border border-white transition duration-350 hover:bg-white hover:text-black px-4 text-lg">Send Me!</button>
    </div>
  </div>
</div>
