<div class="bg-black h-screen w-creen p-10">
  <div class="w-full h-full p-10 flex text-white border-2 border-zinc-700" >
    <div class="" style="width: 300px;">
      <div class="mb-60">
        <div class="text-3xl">Davi Brantes</div>
        <div class="text-base text-gray-600">Developer & Illustrator</div>
      </div>
      <div>
        <div>.</div>
        <div>Portifolio</div>
        <div>About Me</div>
        <div>Contact</div>
      </div>
    </div>

    <div class="right flex items-center justify-center p-2 w-full" s>
      <div >
        <div class="bg-white text-lg font-medium text-black inline-block max-w-max px-2">
          Hi there!
        </div>
        <div class="mt-2">
          My name is Davi and i am passionate by front end development My name is Davi and i am passionate by front end development My name is Davi and i am passionate by front end development
        </div>
      </div>
    </div>
  </div>
</div>
