<div class="h-full flex justify-end items-end">
  <div>
    <div class="w-full flex justify-end">
      <div class="bg-white text-2xl font-medium text-end text-black inline-block max-w-max px-2">
        Hi there!
      </div>
    </div>
    <div class="mt-2 text-end">
      My name is Davi, I am a Full-stack developer specialized in Front-end based in São Paulo, BR
      <p>
        I am passionate about beautiful and cutting-edge interfaces and intuitively implemented UX
      </p>
    </div>
  </div>
</div>
