<div class="h-full flex justify-end items-end">

  <div class="grid grid-columns-1 w-full">
    <div class="flex justify-end">
      <span class="text-2xl">Projects</span>
    </div>

    <div class="grid gap-y-2 mt-4">

      <div class="flex justify-end " id="project-link">
        <a class="cursor-pointer transition duration-200 hover:text-gray-700 ease-in-out lg:flex lg:flex-row-reverse gap-x-2" href="https://github.com/brantesdavi/APIeasytask">
          <div class="w-full flex justify-end"><span class="text-2xl sm:text-6xl font-light whitespace-nowrap">Easytask API</span></div>
          <div class="text-xs sm:text-sm mt-2 font-semibold w-full lg:flex xs:items-end gap-x-3">
            <div class="text-end whitespace-nowrap">2023</div>
            <div class="text-end whitespace-nowrap hidden lg:block">//</div>
            <div class="text-end whitespace-nowrap">C# / ASP.NET Core / SQL</div>
          </div>
        </a>
      </div>
      <div class="flex justify-end " id="project-link">
        <a class="cursor-pointer transition duration-200 hover:text-gray-700 ease-in-out lg:flex lg:flex-row-reverse gap-x-2">
          <div class="w-full flex justify-end"><span class="text-2xl sm:text-6xl font-light whitespace-nowrap">Easytask App</span></div>
          <div class="text-xs sm:text-sm mt-2 font-semibold w-full lg:flex xs:items-end gap-x-3">
            <div class="text-end whitespace-nowrap">coming soon</div>
            <div class="text-end whitespace-nowrap hidden lg:block">//</div>
            <div class="text-end whitespace-nowrap">Typescript / Angular / Tailwind</div>
          </div>
        </a>
      </div>
      <div class="flex justify-end " id="project-link">
        <a class="cursor-pointer transition duration-200 hover:text-gray-700 ease-in-out lg:flex lg:flex-row-reverse gap-x-2">
          <div class="w-full flex justify-end"><span class="text-2xl sm:text-6xl font-light whitespace-nowrap">MediSync</span></div>
          <div class="text-xs sm:text-sm mt-2 font-semibold w-full lg:flex xs:items-end gap-x-3">
            <div class="text-end whitespace-nowrap">coming soon</div>
            <div class="text-end whitespace-nowrap hidden lg:block">//</div>
            <div class="text-end whitespace-nowrap">Java / Springboot / API</div>
          </div>
        </a>
      </div>

      <div class="flex justify-end mt-4">
        <button class="border border-white transition duration-350 hover:bg-white hover:text-black px-2 text-lg">Contact Me</button>
      </div>
    </div>
  </div>
</div>
